.css-grid[b-0c7vkjpwvp] {
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 10px;
    display: grid;
    width: 286px;
}

.css-recipe[b-0c7vkjpwvp] {
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 10px;
    display: grid;
    width: 212px;
}

.actions[b-0c7vkjpwvp] {
    border: 1px solid black;
    height: 250px;
    overflow: scroll;
}

